<!--[if lt IE 10]>
<p>Sie benutzen einen <strong>veralteten</strong> und m&ouml;glicherweise unsicheren Browser. 
Bitte f&uuml;hren Sie ein <a href="http://browsehappy.com/">Upgrade</a> durch.</p>
<![endif]-->

<script>if (window.self !== window.top) {window.FRAME_HEIGHT = window.innerHeight;}/* iframe height */</script>

<div class="mod--hide lb-timeline {{timeline.settings.language}}" ng-app="theme" ng-controller="TimelineCtrl as timeline">
    <div class="lb-timeline__header" ng-if="timeline.settings.showDescription || timeline.settings.showTitle">
        <h1 ng-if="timeline.settings.showTitle" ng-bind="timeline.blog.title"></h1>
        <div class="illustration" ng-if="timeline.blog.picture_url && timeline.settings.showImage"></div>
        <p class="description" ng-if="timeline.settings.showDescription" ng-bind="timeline.blog.description"></p>
    </div>

    <!-- Timeline -->
    <div class="timeline-body" ng-class="{
        'timeline-body--loaded': !timeline.loading,
        'mod--nobackground': timeline.getAllPosts().length < 1
        }">

        <div class="lb-post emtpy-message ng-cloak"
            ng-show="timeline.getAllPosts().length < 1 && !timeline.loading">
            <div>Derzeit keine Eintr&auml;ge.</div>
        </div>

        <section class="lb-posts list-group"
            infinite-scroll="timeline.fetchNewPage()"
            infinite-scroll-disabled="!timeline.settings.infiniteScroll || !timeline.isAllowedToLoadMore()"
            infinite-scroll-immediate-check="false">

            <ng-pluralize class="lb-button load-new-posts"
                ng-click="timeline.applyUpdates()"
                ng-show="!timeline.settings.autoApplyUpdates && timeline.newPosts.length > 0"
                when="{'one': 'Aktualisieren', 'other': 'Aktualisieren'}"
                count="timeline.newPosts.length"><!-- index via {} -->
            </ng-pluralize>

            <lb-postlist class="lb-postlist--stickyposts" timeline="timeline" posts="timeline.stickyPagesManager.allPosts"></lb-postlist>
            <lb-postlist class="lb-postlist" timeline="timeline" posts="timeline.pagesManager.allPosts"></lb-postlist>

        </section>

        <button class="ng-cloak lb-button load-more-posts" ng-click="timeline.fetchNewPage()"
            ng-if="timeline.isAllowedToLoadMore()">Weitere Beitr&auml;ge</button>
    </div>
    <!-- Timeline End -->

    <!-- Loading Overlay -->
    <div class="loading" ng-show="timeline.loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- Loading End -->

    <!-- Templates -->
    <script type="text/ng-template" id="template__items">
        <div lb-item ng-repeat="item in items track by item._id" class="lb-item">
            <div ng-switch="item.item_type">
                <div ng-switch-when="embed">
                    <div ng-switch="item.meta.provider_name">
                        <div ng-switch-when="Instagram">
                            <blockquote class="embedly-card" data-card-controls="0">
                                <h4><a href="{{ item.meta.original_url }}">{{ item.meta.credit }}</a></h4>
                                <p>{{ item.meta.title }}</p>
                            </blockquote>
                        </div>
                        <div ng-switch-default lb-generic-embed lb-fluid-iframe item="item"></div>
                    </div>
                </div>
                <div ng-switch-when="image" ng-if="!isGallery">
                    <figure>
                        <img lb-create-sourceset>
                        <figcaption>{{ item.meta.caption }}
                            <span ng-if="item.meta.credit"> {{ item.meta.credit }}</span>
                        </figcaption>
                    </figure>
                </div>
                <div ng-switch-default>
                    <article lb-bind-html html-content="{{ item.text | outboundAnchors }}"></article>
                </div>
            </div>
        </div>
        <ul ng-if="isGallery" rn-carousel rn-carousel-controls rn-carousel-index="imagesIndex" class="lb-image">
            <li ng-repeat="image in images track by image.src">
                <figure>
                    <div ng-class="{'lb-post-image--icon': isGallery, 'image__item': true}" style="background-image: url({{image.src}})">
                        <!-- <img lb-create-sourceset> -->
                    </div>
                    <figcaption>
                        {{ image.meta.caption }}
                        <span ng-if="item.meta.credit">
                            {{ image.meta.credit }}
                        </span>
                    </figcaption>
                </figure>
            </li>
        </ul>
        <div class="lb-image--index" ng-if="isGallery">{{ imagesIndex + 1 }}/{{ images.length }}</div>
        <div class="lb-image--indicator" ng-if="isGallery" rn-carousel-indicators slides="images" rn-carousel-index="imagesIndex"></div>
    </script>

    <script type="text/ng-template" id="template__generic-embed">
        <div ng-if="isEmbedCode" class="item--embed" lb-bind-html html-content="{{item.meta.html}}" load-script></div>
        <article ng-if="!isEmbedCode && item.meta.thumbnail_url" class="item--embed">
            <img ng-src="{{ item.meta.thumbnail_url }}" class="item--embed__illustration"/>
        </article>
    </script>

    <script type="text/ng-template" id="template__postlist">
        <article lb-post ng-repeat="post in posts() track by post._id"
            class="lb-post list-group-item ng-cloak"
            ng-class="{
                'lb-postlist-sticky': post.sticky,
                'lb-post-highlight': post.lb_highlight == true,
                'show-author-avatar': timeline.settings.showAuthor && timeline.settings.showAuthorAvatar,
                'lb-post-permalink-selected': post._id === timeline.permalink._id}">
            
            <div class="lb-type" ng-class="{
                'lb-type--sticky': post.sticky,
                'lb-type--highlighted': post.lb_highlight == true,
                'lb-type--text': !post.mainEmbed && !post.sticky,
                'lb-type--embed lb-type--twitter': post.mainEmbed == 'Twitter' && !post.lb_highlight,
                'lb-type--embed lb-type--instagram': post.mainEmbed == 'Instagram' && !post.lb_highlight,
                'lb-type--embed lb-type--youtube': post.mainEmbed == 'YouTube' && !post.lb_highlight,
                'lb-type--embed lb-type--facebook': post.mainEmbed == 'Facebook' && !post.lb_highlight
                }">
            </div>

            <div class="lb-post-highlighted" ng-if="post.highlight"></div>
            <!-- <div class="lb-post-sticky" ng-if="post.sticky"></div> -->
            <div ng-if="post.mainItem.displayDate | isDateChange" class="lb-post-date__fulldate" ng-bind="post.mainItem.displayDate | simpleDate"></div>
            <div ng-if="!post.sticky" date-from-now-or-absolute class="lb-post-date"></div>

            <div class="lb-post-permalink">
                <a href="{{ timeline.permalink.get(post._id) }}" id="{{ post._id }}" target="_blank">
                    <i class="fa fa-link fa-2"></i>
                </a>
            </div>

            <lb-items items="post.items"></lb-items>

            <!-- author plus avatar  -->
            <div class="lb-author" ng-if="timeline.settings.showAuthor && !post.sticky">
                <img ng-if="timeline.settings.showAuthor && timeline.settings.showAuthorAvatar" class="lb-author__avatar" ng-src="{{ post.original_creator.picture_url }}" />
                <div class="lb-author__name" ng-bind="post.original_creator[timeline.settings.authorNameFormat]"></div>
            </div>

            <div class="lb-updated-date ng-cloak" ng-show="post.showUpdate">
                <!-- <span ng-bind="post._updated | prettifyIsoDate"> --></span>
            </div>
        </article>
    </script>
    <!-- Templates End -->

    <!-- Pixel -->
    <img name="pixelcounter" style="width: 1px; height: 1px; visibility:hidden;">
    <script type="text/javascript">
        var pixel = document.getElementsByName('pixelcounter')[0];
        var pixel_src = "https://d2ccqtgoww9rwc.cloudfront.net/pixel.gif";
        pixel.src = pixel_src + '?r='+ encodeURIComponent(document.referrer)
            + '&l='+ encodeURIComponent(document.location);
    </script>
    <!-- Pixel End -->
    <script src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    <script>
        embedly("defaults", {
            cards: {
                key: '82645d4daa7742cc891c21506d28235e',
                align: 'left',
                chrome: 0
            }
        });
    </script>
</div>
